<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        textarea {
            width: 400px;
            height: 200px;
        }
    
        div {
            width: 250px;
            display: inline-block;
        }
        .abnormal {
            position: absolute;
            margin-left: 60px;
        }
    
        #textArea {
            position: absolute;
        }
    
        .abnormal div {
            color: darkgrey;
            position: absolute;
        }
        </style>
</head>
<body>
<form action="/" method="post">
<h1 style="color:olivedrab;">欢迎来到Chitchat</h1>
<input type="submit" value="我的主页" style="color:peru;font-size:30px" size="35">
</form>
</body>
</html>