<html>
<head>
<meta content="text/html" charset="utf-8">
<style>
    body{text-align:center}
</style>
</head>
<body>
<form action="/login" method="post">
    <br>
    <h2>用户名:<input type="text" name="username" size="40" style="font-size:20px;margin-left:10px"><br>
    <h2>密码:<input type="password" name="password" size="40" style="font-size:20px;margin-left:33px"><br><br>
    <button type="submit" name="button" value="login"  style="color:peru;font-size:30px;margin-left:80px" size="35">登录</button> 
    <button type="submit" name="button" value="singup" style="color:peru;font-size:30px;margin-left:80px" size="35">注册</button> 
    {{ . }}
</body>
</form>
</html>
