<html>
	    <head>
		            <meta charset="UTF-8">
			                <title></title>
					            <style>
                textarea {
			                    width: 600px;
						                        height: 500px;
										                }
		           
		                .abnormal div {
					                    color: darkgrey;
								                    }
				            </style>
					        </head>
						    <body>
							            <form form id="form" action="/post" method="POST" enctype="multipart/form-data">
									                <div class="abnormal">
												                <textarea id="textArea" name="content" style="font-size:30px" onfocus="document.getElementById('introTxt').style.display='none'"
											                              onblur="if(value=='')document.getElementById('introTxt').style.display='inline'"></textarea>
														            </div>
															                <br>
																	            <button type="submit" name="button" value="post" style="color:peru;font-size:25px" size="30">发布</button>
																		                <button type="submit" name="button" value="back" style="color:peru;margin-left:350px;font-size:25px" size="30">返回</button>
																				<br><br><br><input type="file" accept="image/*" name="file" id="file" style="color:peru;font-size:20px"; size="30"/><br><br>
																					                <div>
																								                <img id="preview" width="500">
																										            </div>
																											            </form>
																												            <script>
																														                var fileDom = document.getElementById("file");
            var previewDom = document.getElementById("preview");
            fileDom.addEventListener("change", e=>{
		                    var file = fileDom.files[0];
		                    // check if input contains a valid image file
		                    if (!file || file.type.indexOf("image/") < 0) {
					                        fileDom.value = "";
					                        previewDom.src = "";
					                        return;
					                    }

		                    // use FileReader to load image and show preview of the image
		                    var fileReader = new FileReader();
		                    fileReader.onload = e=>{
					                        previewDom.src = e.target.result;
					                    };
		                    fileReader.readAsDataURL(file);
		                });

            var formDom = document.getElementById("form");
        </script>
	    </body>
</html>
