<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    {{ range . }}
        <li>{{ . }}</li>
        <input type="submit" value="写博客" style="width:60px;height:40px;margin-left:20px;color:peru">
    {{ end }}
</body>
</html>